@font-face {
	font-family: 'Lato Light';
	font-display: swap;
	font-style: normal; 
	src: url('../assets/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
	src: local('Lato Light'), local('Lato-Light'),
		 url('../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/Lato-Light.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/Lato-Light.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Lato Regular';
	font-display: swap;
	font-style: normal;
	src: url('../assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
	src: local('Lato Regular'), local('Lato-Regular'),
		 url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/Lato-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Lato Black';
	font-display: swap;
	font-style: normal;
	src: url('../assets/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
	src: local('Lato Black'), local('Lato-Black'),
		 url('../assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/Lato-Black.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/Lato-Black.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Lato Bold';
	font-display: swap;
	font-style: normal;
	src: url('../assets/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: local('Lato Bold'), local('Lato-Bold'),
		 url('../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/Lato-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

body {
	margin: 0;
	line-height: normal;
	font-family: 'Lato Regular', sans-serif;
	font-size: 18px;
	color: #767e9e;
	background-color: #f2f2f2;
}

.wrapper {
	position: relative;
	display: block;
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 40px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.al-c {
	align-items: center;
	-webkit-box-align: center;
	 -ms-flex-align: center;
		align-items: center;
}

button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

input, textarea {
	border: none;
	padding: 0;
	outline: none;
	resize: none;
	background: none;
}

h1, .h1 {
	display: block;
	font-family: 'Lato Black', sans-serif;
	font-size: 30px;
	color: #666d89;
	margin: 0 0 18px 0;
	text-transform: capitalize;
}

p {
	margin: 0 0 20px 0;
	font-family: 'Lato Light', sans-serif;
	line-height: 30px;
}

.pre-header {
	display: block;
	height: 95px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
	height: 95px;
	z-index: 10;
}

header .flex {
	justify-content: space-between;
	-webkit-box-pack: justify;
	 -ms-flex-pack: justify;
			justify-content: space-between;
	height: 100%;        
}

ul {
	padding: 0;
}

nav ul {
	margin: 0;
	display: flex;
	line-height: 14px;
	padding-top: 10px;
}

nav li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
	letter-spacing: 0;
}

nav li a {
	padding-right: 15px;
}

nav li a:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 3px;
	height: 3px;
	margin-top: -1.5px;
	border-radius: 50%;
	background-color: #464a5d;
}

nav li:last-child {
	margin-right: 0;
}

nav li:last-child a {
	padding-right: 0;
}

nav li:last-child a:after {
	display: none;
}

nav a {
	display: inline-block;
	vertical-align: top;
	font-family: 'Lato Bold', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
}

nav li.active a, nav li:hover a {
	color: #f06c64;
}

.logo {
	font-family: 'Lato Bold', sans-serif;
	font-size: 25px;
	line-height: 1;
}

.logo-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -0.6px;
}

.logo-star {
	color: #f06c64;
}

.slider {
	position: relative;
	height: 600px;
	overflow: hidden;
}

.slider .wrapper {
	min-height: 600px;
}

.slide-wrapper {
	overflow: hidden;
}

.slide-outer {
	white-space: nowrap;
	transition: transform 0.4s;
}

.slide-outer .slide-item {
	position: relative;
	display: inline-block;
}

.phone-vertical {
    position: absolute;
    width: 240px;
    height: 483px;
    left: 112px;
    top: 53px;
}

.phone-vertical .phone-wrapper {
	z-index: 5;
	width: auto;
	height: 100%;
}

.phone-vertical .phone-back {
	left: 14px;
	top: 65px;
	z-index: 6;
}

.phone-gorizontal {
    position: absolute;
    width: 483px;
    height: 240px;
    right: 112px;
    top: 174px;
}

.phone-gorizontal .phone-back {
	top: 14px;
	left: 60px;
	z-index: 6;
}

.phone-back {
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.4s;
}

.phone-back.disabled {
	opacity: 0;
}

.phone-group {
    position: absolute;
    width: 516.18px;
    height: 513px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.phone-group .phone-back {
	left: 145px;
    top: 69px;
}

.slide-item {
	width: 100%;
	transition-duration: 0.4s;
	z-index: 2;
	box-sizing: border-box;
	background-color: gainsboro;
}

.slide-item:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background-color: rgba(0,0,0,0.1);
}

.slide-item.main {
	z-index: 3;
}

.slide-item.active {
	visibility: visible;
	opacity: 1;
}

.slide-item.first {
	background-color: #ff6c64;
	/* border-bottom: 6px solid #ea676b; */
}

.slide-item.second {
	background: #648BF0;
}

.slide-item img {
	position: absolute;
}

.slider-navs {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 935px;
    width: 100%;
    margin: -15px auto auto;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 4;
    height: 10px;
}

.slide-button {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-bottom: 5px solid rgba(0,0,0,0.3);
	border-right: 5px solid rgba(0,0,0,0.3);
	transition: border-color 0.4s;
}


.slide-button:hover {
	border-color: rgba(0,0,0,0.4);
}

.slide-button.slide-prev {
	left: 0;
	transform: rotate(135deg);
}

.slide-button.slide-next {
	right: 0;
	transform: rotate(-45deg);
}

.content {
	padding-top: 60px;
	padding-bottom: 24px;
	border-bottom: 6px solid #ffffff;
}

.content.persons {
	padding-bottom: 67px;
}

.persons h1, .persons .h1 {
    display: block;
    font-family: 'Lato Black', sans-serif;
    font-size: 30px;
    color: #666d89;
    margin: 0 0 18px 0;
    text-transform: capitalize;
}

.vantages.flex {
	padding-top: 28px;
	flex-wrap: wrap;
	letter-spacing: -0.31em;
}

.vantage-item {
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% / 3 - 14px);
	margin-bottom: 35px;
	margin-right: 21px;
}

.vantage-item:nth-child(3n) {
	padding-right: 0;
	margin-right: 0;
}

.vantage-item img {
	display: inline-block;
	vertical-align: top;
	width: 59px;
	height: 59px;
	margin-top: -2px;
}

.vantage-item .right-block {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: calc(100% - 60px);
	padding-left: 20px;
	letter-spacing: normal;
}

.vantage-item .right-block span {
	display: block;
	margin-bottom: 10px;
	font-family: 'Lato Black', sans-serif;
	line-height: 13px;
	letter-spacing: -0.015em;
}

.vantage-item .right-block p {
	display: inline-block;
	font-family: 'Lato Regular', sans-serif;
	font-size: 12px;
	margin-bottom: 0;
	line-height: 22px;
	text-align: justify;
}

.portfolio-block {
	padding-top: 60px;
	padding-bottom: 46px;
	border-bottom: 6px solid #323746;
	background-color: #2d303a;
	box-sizing: border-box;
}

.portfolio-wrapp {
	opacity: 1;
	transition-duration: 0.4s;
}

.portfolio-wrapp.disabled {
	opacity: 0
}

.portfolio-block .flex {
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 -10px;
}

.portfolio-block p {
	margin-bottom: 10px;
	letter-spacing: -0.2px;
}

.protfolio-nav {
	letter-spacing: -0.31em;
	margin-bottom: 20px;
}

.protfolio-nav button {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 8.9px;
	padding: 0 6.7px;
	height: 22px;
	line-height: 22px;
	vertical-align: top;
	font-family: 'Lato Regular', sans-serif;
	font-size: 12px;
	letter-spacing: normal;
	color: #666d89;
	border: 1px solid #666d89;
	border-radius: 5px;
	transition: color 0.4s, border-color 0.4s;
}

.protfolio-nav button:last-child {
	margin-right: 0;
}
.protfolio-nav button:hover, .protfolio-nav button.active {
	color: #dedede;
	border-color: #dedede;
}

.protfolio-item {
	width: 25%;
	max-height: 187px;
	margin-bottom: 20px;
	padding: 0 10px;
	box-sizing: border-box;
}

.protfolio-item .image {
	cursor: pointer;
	overflow: hidden;
	transition: box-shadow 0.4s;
}

.protfolio-item .image.focus {
	box-shadow: 0 0 0 5px #F06C64;
}

.protfolio-item.disabled {
	display: none;
}

.protfolio-item img {
	display: block;
    width: 100%;
    height: 100%;
    transition-duration: 0.8s;
    object-fit: cover;
}

.protfolio-item:hover img {
	transform: scale(1.1);
}

.protfolio-item:nth-child(12) ~ .protfolio-item {
	display: none;
}

.team-block {
	padding-top: 24px;
}

.team-item {
	width: calc(100% / 3 - 13px);
	margin-right: 19px;
}

.team-item:nth-child(3n) {
	margin-right: 0;
}

.team-item:nth-child(3n) img {
	position: relative;
	left: 2px;
}

.team-image {
	max-width: 300px;
	max-height: 300px;
	margin-bottom: 16px;
}

.team-image img {
	width: 100%;
}

.team-item .title {
	display: block;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Lato Black', sans-serif;
	font-size: 18px;
}

.team-item p {
	font-size: 12px;
	line-height: 21.56px;
	letter-spacing: 0.2px;
	margin-bottom: 24px;
}

.social-block {
	letter-spacing: -0.31em;
}

.social-block a {
	position: relative;
	left: 1px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 32px;
	height: 32px;
	line-height: 28px;
	margin-right: 8px;
	text-align: center;
	border: 1px solid #69708b;
	border-radius: 50%;
	transition: opacity 0.4s;
}

.social-block a:hover {
	opacity: 0.7;
}

.social-block a:last-child {
	margin-right: 0;
}

.social-block a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	line-height: normal;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.social-block a.fb:before {
	background-image: url('../assets/img/facebook.png');
}

.social-block a.tw:before {
	background-image: url('../assets/img/twitter.png');
}

.social-block a.gplus:before {
	background-image: url('../assets/img/google+.png');
}

.social-block a.in:before {
	background-image: url('../assets/img/linkedin.png');
}

.form-block {
	padding-top: 59px;
	padding-bottom: 16px;
	color: #f0d8d9;
	background-color: #f06c64;
	border-bottom: 3px solid #ea676b;
}

.form-block .h1 {
	color: #f0d8d9;
	letter-spacing: -0.3px;
	text-transform: inherit;
}

.half-blocks {
	padding-top: 24px;
	letter-spacing: -0.31em;
}

.half-block {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
}

.half-block.left {
	padding-right: 20px;
	width: calc(100% - 300px);
}

.half-block.right {
	width: 300px;
}

.form-block input, .form-block textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-family: 'Lato Regular', sans-serif;
	font-size: 12px;
	background-color: #d6564f;
	border-radius: 5px;
	color: #ffffff;
}

.form-block input:hover, 
.form-block textarea:hover,
.form-block input:focus,
.form-block textarea:focus {
	background-color: #c7504a;
}

.form-block textarea {
	height: 202px;
	padding-top: 10px;
	padding-left: 14px;
	margin-bottom: 16px;
	overflow: hidden;
}

.form-block input {
	height: 38px;
	padding-left: 15px;
	margin-bottom: 16px;
}

.form-block input::-webkit-input-placeholder {
    color: #f48c8f;
}

.form-block input::-moz-placeholder {
    color: #f48c8f;
}

.form-block input:-ms-input-placeholder {
    color: #f48c8f;
}

.form-block input::-ms-input-placeholder {
    color: #f48c8f;
}

.form-block input::placeholder {
    color: #f48c8f;
}

.form-block textarea::-webkit-input-placeholder {
    color: #f48c8f;
}
.form-block textarea::-moz-placeholder {
    color: #f48c8f;
}
.form-block textarea:-ms-input-placeholder {
    color: #f48c8f;
}
.form-block textarea::-ms-input-placeholder {
    color: #f48c8f;
}
.form-block textarea::placeholder {
    color: #f48c8f;
}

.submit {
	cursor: pointer;
	display: block;
	height: 38px;
	width: 100%;
	max-width: 100px;
	padding: 0 10px;
	margin-left: auto;
	text-align: center;
	line-height: 38px;
	font-family: 'Lato Regular', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #7E2C2C;
	border-radius: 5px;
}

.submit:hover {
	background-color: #6D0707;
}

.title {
    display: block;
    margin-bottom: 9px;
    font-family: 'Lato Black', sans-serif;
    font-size: 18px;
    line-height: 1.1;
}

.half-block.right p {
	font-size: 12px;
	text-align: justify;
	line-height: 22px;
	margin-bottom: 20px;
}

.contacts .item {
	position: relative;
	box-sizing: border-box;
	display: block;
	padding-left: 23px;
	color: #ffffff;
	font-size: 12px;
	line-height: 21.56px;
	letter-spacing: -0.18px;
}

.contacts .item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	display: block;
	width: 13px;
	height: 11px;
	background-position: center;
	background-repeat: no-repeat;
}

.contacts .item.place:before {
	background-image: url(../assets/img/location.png);
	background-size: 7px;
}

.contacts .item.tel:before {
	background-image: url(../assets/img/phone.png);
	background-size: 11px;
}

.contacts .item.mail:before {
	background-image: url(../assets/img/mail.png);
	background-size: 13px;
	top: 7px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.4s;
	z-index: 10;
	background-color: rgba(0,0,0,0.5)
}

.overlay.active {
	visibility: visible;
	opacity: 1;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border-radius: 10px;
	width: 500px;
	min-height: 200px;
}

.popup span {
	display: block;
	margin-bottom: 10px;
}

.popup button {
	margin-top: auto;
}

footer {
	background-color: #2d303a;
}

footer .flex {
	height: 76px;
    -webkit-box-pack: justify;
	-ms-flex-pack: justify;
    justify-content: space-between;
}

.copyright {
	font-size: 12px;
	color: #666d89;
}